.writing-toolbar-container {
    display: grid;
    grid-template-columns: auto 1fr 100px;
    column-gap: 1rem;
    margin-top: 1rem;
}

.send-button-container {
    display: grid;

    grid-template-columns: repeat(2, auto);
    place-items: center;

    background-color: #1B73E7;

    font-size: 1.3rem;
    color: #fff;

    border-radius: 0.5rem;
}

.send-button-container .send-button {
    border-right: 1px solid #000;
    padding: 0.8rem 1.5rem;
}

.send-button-container .icon {
    margin: 0.3rem;
}

.left-icon-wrap {
    display: flex;
    align-items: center;

    column-gap: 1rem;
}

.right-icon-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}